<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">-->
    <!--<title>Title</title>-->
    <!--<link href="../../lib/ionic/css/ionic.min.css" rel="stylesheet">-->
    <!--<script src="../../lib/ionic/js/ionic.bundle.min.js"></script>-->
    <!--<link href="../../css/home.css" rel="stylesheet">-->
    <!--<link href="../../css/community.css" rel="stylesheet">-->
    <!--<style>-->
        <!--html{-->
            <!--font-size: 62.5%;-->
        <!--}-->
        <!--.abox h2,.abox p{-->
            <!--text-align: left;-->
            <!--padding-left: 15px;-->
            <!--line-height: 25px;-->
            <!--font-size: 16px;-->
            <!--color: #606060;-->
            <!--font-family: 微软雅黑;-->
        <!--}-->
        <!--.abox{-->
            <!--position: relative;-->
            <!--height: 320px;-->
        <!--}-->
        <!--.abox h2{-->
            <!--margin-top: 10px;-->
            <!--font-size: 20px;-->
            <!--color: #000;-->
        <!--}-->
        <!--.abox span{-->
            <!--display: block;-->
            <!--position: absolute;-->
            <!--color: #606060;-->
            <!--height: 30px;-->
            <!--font-family: 微软雅黑;-->
            <!--font-size: 12px;-->
            <!--padding-left: 15px;-->
        <!--}-->
        <!--.abox .sl{-->
            <!--left: 10px;-->
           <!--bottom:1rem;-->
        <!--}-->
        <!--.abox .sr{-->
            <!--right:10px;-->
            <!--bottom:1rem;-->
        <!--}-->
    <!--</style>-->
<!--</head>-->
<!--<body>-->
<ion-view  >
    <ion-nav-title >
        <h2 class="title">
            活动通知
        </h2>
        <div on-tap="showPopup()" style="margin-left: 2rem" class="button button-icon ion-ios-compose-outline "></div>
    </ion-nav-title>
    <ion-content>
        <!--<button class="button button-dark" ng-click="showPopup()">-->
            <!--show-->
        <!--</button>-->
        <div  class="list item item-image abox " >
            <img  style="width: 100%" src="images/acbg1_02.png">
            <h2 >海报创意设计</h2>
            <p >海子团队讲解想法，带你卡开拓思维和想法</p>
            <span style="background: url('../../images/acicon_03.png')left 2px no-repeat;background-size: 10%" class="sl">火星时代 杏石路口82号</span>
            <span style="background: url('../../images/acicon_05.png')left top no-repeat;background-size: 10%" class="sr">杏石口路81号 16:00-18:30</span>
        </div>
        <div class="list list-borderless abox ">
            <h2>简介</h2>
            <p >海子团队讲解想法，带你卡开拓思维和想法</p>
            <p >地址：北京市海淀区杏石口路81号    火星时代</p>
            <p >时间：2016.5.15   16：00-18：30</p>
        </div>
    </ion-content>
</ion-view>

<!--</body>-->
<!--</html>-->