<ion-view view-title="火星助手" id="aide">
    <ion-content>
        <div class="stable-bg" style="height:18rem;">
            <textarea class="light-bg" style="width:93%;margin:3.5rem auto 2.7rem;border: 1px solid #ccc;height:10rem;border-radius: 8px;font-size:1.2rem;line-height: 1.2rem;"></textarea>
            <div class="calm-bg" style="border-radius: 1.8rem;width:13rem;height: 3.5rem;text-align: center;line-height:3.5rem;color:#fff;font-size: 1.2rem;margin:0 auto;" ui-sref="tabs.zhuangtai">快来帮帮我</div>
        </div>
        <div style="padding-top:5rem;"><p style="text-align: center;">还没有向火星发出任何求助信号哦~</p></div>
    </ion-content>
</ion-view>