<ion-view  id="login" view-title="忘记密码" >
    <ion-content style="background: #f7f7f7;">
        <div>
            <form style="margin-top:2rem;">
                <div class="list">
                    <label class="item item-input" style="border-radius:5px;width:90%;margin:0 auto;border-color:#fff;margin-top:1rem;">
                        <span class="input-label" style="padding-right:0;width:20%;">电话：</span>
                        <input type="text">
                    </label>
                    <label class="item item-input item-button-right" style="border-radius:5px;width:90%;margin:0 auto;border-color:#fff;margin-top:1rem;">
                        <span class="input-label" style="padding-right:0;width:20%;">验证码：</span>
                        <input type="text">
                        <i class="button calm-bg button-positive" style="background:#27b4c1;font-size:12px;color:#fff;min-height:30px;px;height:30px;line-height: 30px;" on-tap="yanzhengma()">{{codetime}}</i>
                    </label>
                    <label class="item item-input" style="border-radius:5px;width:90%;margin:0 auto;border-color:#fff;margin-top:1rem;">
                        <span class="input-label" style="padding-right:0;width:20%;">新密码：</span>
                        <input type="password">
                    </label>
                    <label class="item item-input" style="border-radius:5px;width:90%;margin:0 auto;border-color:#fff;margin-top:1rem;">
                        <span class="input-label" style="padding-right:0;width:20%;">确认密码：</span>
                        <input type="password">
                    </label>
                    <p style="padding-left:3.4rem;font-size:16px;color:#7a7a7a;font-weight: 400;">密码长度至少6个字符，最多32个字符</p>
                    <div class="button button-full" style="width:90%;margin:5rem auto 0;border-radius:25px;color:#fff;background: #addfe3;">提交</div>
                </div>

            </form>
        </div>
    </ion-content>
    </ion-view>
