<ion-view hide-nav-bar="true" id="home">
    <ion-content>
        <div class="hander_top">
                <div class="item-thumbnail-left">
                    <img ui-sref="tabs.install" src="images/home_toux.png"/>
                    <h2 ui-sref="tabs.login">李雷<span>总排名:<i>11</i></span></h2>
                    <p>平均成绩：<span>A-</span></p>
                    <p>职业素质：<i>95</i></p>
                </div>
                <a href="javascript:;" ng-class="getClass()" id="register" ng-click="register()"></a>
        </div>
        <div ui-sref="tabs.acxiang"  class="honme_tu" ><img src="images/home_chuan.png"/></div>
        <h3 class="zuopinghezi">作品盒子<a class="kaiqi" ui-sref="tabs.workBox">开启</a></h3>
        <div class="row">
            <div class="col">
                <div class="honme_col_img">
                    <img src="images/home_col1.png">
                        <h4>冯素素</h4>
                        <p>1512期UI视觉设计师班1班</p>
                </div>

            </div>
            <div class="col">
                <div class="honme_col_img">
                    <img src="images/home_col2.png">
                    <h4>黄玉婷</h4>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
            </div>
        </div>
        <h3 class="wuxingzuop">五星作品<a class="kaiqi wuxing" ui-sref="tabs.workBox">开启</a></h3>
        <div class="row">
            <div class="col">
                <div class="honme_col_img">
                    <img src="images/home_col1.png">
                    <h4>冯素素</h4>
                    <p>1512期UI视觉设计师班1班</p>
                </div>

            </div>
            <div class="col">
                <div class="honme_col_img">
                    <img src="images/home_col2.png">
                    <h4>冯素素</h4>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>