<ion-view view-title="设置" id="install">
    <ion-content>
        <div ui-sref="tabs.studentself" class="toux">头像<img src="images/touxiang_zhen.png"/></div>
        <ul class="list">
            <li ui-sref="tabs.revise" class="item">修改密码</li>
            <li class="tuisong"><ion-toggle>
                是否推送消息
            </ion-toggle></li>
            <li class="item">退出当前账号</li>
            <li class="item shengji">升级<span>v.1.0</span></li>
        </ul>
    </ion-content>
</ion-view>