<ion-view  id="login" view-title="登录">
    <ion-content style="background: #f7f7f7;">
        <div>
            <form style="margin-top:2rem;">
                <div class="list">
                    <label class="item item-input" style="border-radius:5px;width:90%;margin:0 auto;border-color:#fff;margin-top:1rem;">
                        <span class="input-label" style="padding-right:0;width:20%;">用户名：</span>
                        <input type="text">
                    </label>
                    <label class="item item-input" style="border-radius:5px;width:90%;margin:0 auto;border-color:#fff;margin-top:1rem;">
                        <span class="input-label" style="padding-right:0;width:20%;">密码：</span>
                        <input type="password">
                    </label>
                    <div class="button button-full calm-bg" style="width:90%;margin:1rem auto;border-radius:25px;color:#fff;">登录</div>
                </div>
                <p style="text-align: center;"><a ui-sref="tabs.forgetPassword">忘记密码？</a></p>
            </form>
        </div>
    </ion-content>
</ion-view>