<ion-tabs class="tabs-light tabs-icon-top" id="tabs">
      <ion-tab title="首页" icon-on="ion-home-on" icon-off="ion-home-off" ui-sref="tabs.home">
         <ion-nav-view name="tab-home">
         </ion-nav-view>
     </ion-tab>
    <ion-tab title="助手" icon-on="ion-aide-on" icon-off="ion-aide-off" ui-sref="tabs.aide">
         <ion-nav-view name="tab-aide">
         </ion-nav-view>
     </ion-tab>
    <ion-tab title="社区" icon-on="ion-community-on" icon-off="ion-community-off" ui-sref="tabs.community">
        <ion-nav-view name="tab-community">
        </ion-nav-view>
    </ion-tab>
</ion-tabs>
